{{ with .GetPage "about" }}
<div class="">
  <p>{{ .Params.para1 }}</p>
  <p>{{ .Params.para2 }}</p>
  <figure class="w-full mb-4 ">
    <img src="{{ .Params.imggroup.url }}" alt="{{ .Params.imggroup.alt }}" class="">
    <figcaption class="text-xs xs:text-sm xs:pl-1 sm:pl-2">{{ .Params.imggroup.alt }}</figcaption>
  </figure>
  <p>{{ .Params.para3 }}</p>
  <p>{{ .Params.para4 }}</p>
  <p>{{ .Params.para5 }}</p>
  <p>{{ .Params.para6 }}</p>
  <figure class=" mb-4 ">
    <a href="{{ .Params.imgbka.link }}" target="_blank" rel="noopener noreferrer">
      <img src="{{ .Params.imgbka.url }}" alt="{{ .Params.imgbka.alt }}" class="">
    </a>
    <figcaption class="text-sm pl-6">{{ .Params.imgbka.alt }}</figcaption>
  </figure>
</div>
{{ end }}
