    <!-- <p>partial / about layout</p> -->
    <div class="mb-4">
      {{ with .GetPage "about" }}
        <div class="">
          <div class="clear-fix">
            <div class="float-right w-32 xs:w-40 sm:w-56 ml-4">
              <figure class="flex flex-col m-0">
                <img src="{{ .Params.imghonda1.url }}" alt="{{ .Params.imghonda1.alt }}" class="">
                <figcaption>{{ .Params.imghonda1.alt }}</figcaption>
              </figure>
            </div>
            <p>{{ .Params.para1 }}</p>
          </div>

          <div class="clear-fix">
            <div class="float-left w-40 xs:w-56 md:w-64 mr-4">
              <figure class="flex flex-col m-0">
                <img src="{{ .Params.imghonda2.url }}" alt="{{ .Params.imghonda2.alt }}" class="">
                <figcaption>{{ .Params.imghonda2.alt }}</figcaption>
              </figure>
            </div>
            <p class="m-0">{{ .Params.para2 }}</p>
          </div>

          <div class="clear-fix">
            <div class="float-right w-32 xs:w-40 sm:w-56 ml-4">
              <figure class="flex flex-col m-0">
                <img src="{{ .Params.imghonda3.url }}" alt="{{ .Params.imghonda3.alt }}" class="">
                <figcaption>{{ .Params.imghonda3.alt }}</figcaption>
              </figure>
            </div>
            <p>{{ .Params.para3 }}</p>
            <p>{{ .Params.para4 }}</p>
          </div>

        </div>
        <div class="pt-6">

          {{ .Content }}
        </div>
      {{ end }}
    </div>
