    <!-- <p>partial / dojo-chou layout</p> -->
    <div class="mb-4">
      {{ with .GetPage "dojo-chou" }}
        <p>{{ .Params.para1 }}</p>
        <div class=".clear-fix">
          <img src="{{ .Params.imghonda }}" alt="Honda sensei" class="float-right w-56 ml-4">
          <p>{{ .Params.para2 }}</p>
        </div>
        <div class=".clear-fix">
          <img src="{{ .Params.imgtrophies }}" alt="Honda sensei" class="float-left w-64 mr-4">
          <p>{{ .Params.para3 }}</p>
        </div>
        <div class=".clear-fix">
          <img src="{{ .Params.imgtaikai }}" alt="Honda sensei" class="float-right w-40 sm:w-48 ml-4">
          <p>{{ .Params.para4 }}</p>
          <p>{{ .Params.para5 }}</p>
        </div>
        <div class="">
          <p>{{ .Params.para6 }}</p>
        </div>


      {{ end }}
    </div>
