<div class="lg:px-0 lg:mx-auto lg:w-3/4">
  <!-- <h2 class="text-3xl font-bold mb-2"></h2> -->

  <!-- {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
    
    {{ range $pages }} -->
    <div class="flex items-center justify-center mb-4 w-full ">
      <a class="flex m-4 sm:m-5 block" href="{{ .RelPermalink }}">
        <div class="flex-1 p-4">
          <p class="btn-title">
            {{ .Title }}
          </p>
          {{ with .Resources.GetMatch "*.{jpg,png}" }}
            <div class="flex-1">
              <img src="{{ .Permalink }}" alt="{{ .Title }}" class="mx-auto block max-w-full h-auto border-4 border-gray-300">
            </div>
          {{ end }}
        </div>
      </a>
    </div>
    <!-- {{ end }} -->

</div>