<!-- <div class="bg-green-300">
  <h1>dojo single partial is being used</h1>
  <p class="mb-4 px-4">dojo name  {{ .Params.dojoName }}  working</p>
</div> -->


<div class=" flex justify-between px-2 xs:px-8">

  <div class="xs:pt-8">
    <div class="flex mb-0">
      <p class=" hidden xs:w-24 xs:block font-bold">NAME</p>
      <p class="font-bold text-2xl text-center xs:text-left xs:text-base xs:font-normal"> {{ .Params.dojoName }}</p>
    </div>
    <div class="flex mb-0 justify-between xs:justify-start ">
      <p class="w-24 mb-0 pt-4 xs:pt-0 ml-auto xs:ml-0 text-right xs:text-left font-bold">LEADER</p>
      <p class="hidden xs:block"> {{ .Params.dojoLeader }}</p>
    </div>
  </div>

  <div class=" w-32 ml-4">
    <figure class="flex flex-col m-0">
      <img src="{{ .Params.imgLeader }}" alt="{{ .Params.dojoLeader }}" class="">
      <figcaption>{{ .Params.dojoLeader }}</figcaption>
    </figure>
  </div>
</div>


<div class="relative flex flex-col sm:flex-row justify-center ">
  <!-- if only 1 venue 640+ is too narrow -->
  <div class="w-full xs:w-4/5 xs:mx-auto sm:max-w-xl md:max-w-xs p-4 border border-green-500 bg-green-200 mb-6 rounded shadow-lg">
    <p class="mb-3 font-bold">Venue 1:</p>
    <div class="flex mb-0 ">
      <p class="w-20 sm:w-16 md:w-24 mb-3">Name</p>
      <p class="mb-3"> {{ .Params.session1.venue }}</p>
    </div>
    <div class="flex mb-0 ">
      <p class="w-20 sm:w-16 md:w-24">Address</p>
        <div class="">
          <p class="mb-0"> {{ .Params.session1.addr1 }}</p>
          <p class="mb-0"> {{ .Params.session1.addr2 }}</p>
          <p class="mb-3"> {{ .Params.session1.addr3 }}</p>
        </div>
    </div>
    <div class="flex mb-0 ">
      <p class="w-20 sm:w-16 md:w-24 mb-3">Time</p>
      <div class="mb-0">
        <p class="mb-0"> {{ .Params.session1.time1 }}</p>
        {{ if isset .Params.session1 "time2" }}
          <p class="mb-3"> {{ .Params.session1.time2 }}</p>
        {{ end }}
      </div>
    </div>
  </div>

  {{ if isset .Params "session2" }}
  <div class="w-full xs:w-4/5 xs:mx-auto sm:max-w-x sm:ml-6 md:max-w-xs p-4 border border-green-500 bg-green-200 mb-6 rounded shadow-lg">
      <p class="mb-3 font-bold">Venue 2:</p>
      <div class="flex mb-0 ">
        <p class="w-20 sm:w-16 md:w-24 mb-3">Name</p>
        <p class="mb-3"> {{ .Params.session2.venue }}</p>
      </div>
      <div class="flex mb-0 ">
        <p class="w-20 sm:w-16 md:w-24">Address</p>
          <div class="">
            <p class="mb-0"> {{ .Params.session2.addr1 }}</p>
            <p class="mb-0"> {{ .Params.session2.addr2 }}</p>
            <p class="mb-3"> {{ .Params.session2.addr3 }}</p>
          </div>
      </div>
      <div class="flex mb-0 ">
        <p class="w-20 sm:w-16 md:w-24 mb-3">Time</p>
        <div class="mb-0">
          <p class="mb-0"> {{ .Params.session2.time1 }}</p>
          {{ if isset .Params.session2 "time2" }}
            <p class="mb-3"> {{ .Params.session2.time2 }}</p>
          {{ end }}
        </div>
      </div>
    </div>
  {{ end }}

</div>

<div class="w-full clearfix">
  <p class="mb-3"> {{ .Params.para1 }}</p>

  <div class="clear-fix">
    <div class="float-left  mr-4">
      <figure class="flex flex-col m-0">
        <img src="{{ .Params.imgNationals2019 }}" alt="BKA Nationals 2019" class="w-40 xs:w-56 md:w-64">
        <figcaption>BKA Nationals 2019</figcaption>
      </figure>
    </div>
  </div>
  <p class="mb-3"> {{ .Params.para2 }}</p>

  <p class="mb-3"> {{ .Params.para3 }}</p>
  <p class="mb-3"> {{ .Params.para4 }}</p>

</div>
