    <!-- <p>partial / about layout</p> -->
    <div class="mb-4">
        <div class="mb-4 sm:mb-8 lg:mb-12">
          <div class="">
            <div class="float-right w-32 xs:w-40 sm:w-56 ml-4">
              <figure class="flex flex-col m-0 ">
                <img src="{{ .Params.imghonda1.url }}" alt="{{ .Params.imghonda1.alt }}" class="">
                <figcaption class="text-sm pl-2">{{ .Params.imghonda1.alt }}</figcaption>
              </figure>
            </div>
            <p>{{ .Params.para1 }}</p>
          </div>

          <div class="">
            <!-- <div class="float-right w-32 xs:w-40 sm:w-56 ml-4"> -->
            <!-- <div class="float-left w-40 xs:w-56 md:w-64 mr-4"> -->
            <div class="float-left w-32 xs:w-40 md:w-48 mr-4">
              <figure class="flex flex-col m-0">
                <img src="{{ .Params.imgOnoue.url }}" alt="{{ .Params.imgOnoue.alt }}" class="">
                <figcaption class="text-sm pl-2">{{ .Params.imgOnoue.alt }}</figcaption>
              </figure>
            </div>
            <p class="">{{ .Params.para2 }}</p>
          </div>

          <div class="">
            <!-- <div class="float-left w-40 xs:w-56 md:w-64 mr-4"> -->
            <div class="float-right w-32 xs:w-40 sm:w-56 ml-4">
              <figure class="flex flex-col m-0 -top-8">
                <img src="{{ .Params.imgYamauchi.url }}" alt="{{ .Params.imgYamauchi.alt }}" class="">
                <figcaption class="text-sm pl-1 xs:pl-2">{{ .Params.imgYamauchi.alt }}</figcaption>
              </figure>
            </div>
            <!-- <p>{{ .Params.para3 }}</p> -->
            <p>{{ .Params.para4 }}</p>
          </div>

        </div>
        <div class="relative pt-6">

          {{ .Content }}
        </div>
    </div>
