{{ define "heading" }}
    <div class=" pt-2 flex items-center">
      <!-- right mon changed for Glassgow dojo -->
        {{ with .Site.Params.mon }}
          <img class="w-20 sm:w-32 ml-2 sm:ml-4 " src="{{ .src }}" alt="{{ .alt }}">
        {{ end }}
        <div class="flex-grow">
            <h1 class="text-center text-3xl xs:text-5xl sm:text-6xl text-white">
              {{ .Site.Params.kanji }}
            </h1>
        </div>

        <!-- <div class=""> -->
          {{ if eq .Page.Params.title "Glasgow" }}
              {{ with .Page.Params.dojoMon }}
                <img class="rounded-full w-20 sm:w-32 mr-2 sm:ml-r4 " src="{{ .src }}" alt="{{ .alt }}">
              {{ end }}
          {{ else }}
              {{ with .Site.Params.mon }}
                <img class="w-20 sm:w-32 mr-2 sm:ml-r4 " src="{{ .src }}" alt="{{ .alt }}">
              {{ end }}
          {{ end }}
        <!-- </div> -->
    </div>
{{ end }}

{{ define "content" }}
    <article class="mb-12 sm:px-2 md:px-4">
        {{ if eq .Page.Params.title "About" }}
            {{ partial "about.html" . }}
            <!-- partial NOT using .Content -->

        {{ else if eq .Page.Params.title "Lineage" }}
            {{ partial "lineage.html" . }}
            <!-- partial NOT using .Content -->

        {{ else if eq .Section "dojo" }}
            {{ partial "dojo-single.html" . }}
            <!-- .Content is used by borders and Eastsussex -->
            {{ .Content }}

        {{ else if eq .Section "sensei" }}
            {{ partial "dojo-cho" . }}

        {{ else }}
            <!-- <h3>this content is a normal single</h3> -->
            <!-- {{ .Content }} -->

        {{ end }}

    </article>
{{ end }}
