<nav class="u-background">
  <div class="hero">

    <div class="logo">

    </div>
    <div class="u-wrapper">
      <ul class="Banner">
        <li class="Banner-item Banner-item--title">
          <a class="Banner-link u-clickable Banner-item--title-text" href="{{ "" | absURL }}">{{ site.Title }}</a>
        </li>
        {{ range site.Menus.nav }}
        <li class="Banner-item">
          <a class="Banner-link u-clickable Banner-item--menu-text" href="{{ .URL | absURL }}">{{ .Name }}</a>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
</nav>
